<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Boston House Price Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="CRIM" placeholder="Crime rate 0-85" required="required" /><br>
    	<input type="text" name="ZN" placeholder="Residential zone 0-100" required="required" /><br>
        <input type="text" name="INDUS" placeholder="Non retail acrs in town 0-25" required="required" /><br>
        <input type="text" name="CHAS" placeholder="Tract is adjacent to the river 0 or 1" required="required" /><br>
        <input type="text" name="NOX" placeholder="Nitric oxides concentration 0-1.0" required="required" /><br>
        <input type="text" name="RM" placeholder="No of rooms 3-10" required="required" /><br>
        <input type="text" name="Age" placeholder="Age of home 2-100" required="required" /><br>
        <input type="text" name="DIS" placeholder="Distance b/w employment center" required="required" /><br>
        <input type="text" name="RAD" placeholder="Access to highway 1-25" required="required" /><br>
        <input type="text" name="TAX" placeholder="Property tax 180-711k" required="required" /><br>
        <input type="text" name="PTRATIO" placeholder="Teacher ratio in town 10-25" required="required" /><br>
        <input type="text" name="B" placeholder="Blacks by town 0-400" required="required" /><br>
        <input type="text" name="LSTAT" placeholder="Low state of population 1-37k" required="required" /><br>

       

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 <div class="output">
    <h3> Everything measured in thousands..<h3>
    {{prediction_text}}
 </div>
 

</body>
</html>